{% load static %}

<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WhtMusic?</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/home_style.css' %}" >
</head>
<body>
    <div class="card_top">
        <img class="profilepic" src='/static/media/artur.jpeg' alt="foto de usuario  " >
        <p>ainda dá tempo de escutar mais uma música</p>
    </div>
</body>
</html>